.proyect
  .proyect--info
    h3 Caruso Diseño
    p Diseñador de identidad visual para empresas, organismos públicos y ONGs., trabajando en estrategia, diseño, innovación y experiencia de marca.
    p Pablo me pidió crear un sitio web para su marca, y en cual me desempeñe como maquetador y colaborador en el diseño del mismo. 
    a(href='http://www.carusodesign.com.ar' class='btn' role='button' target='_blank') Ver sitio
  .proyect--info
    img(src= 'img/macbookpro.png')
  .proyect--info
    img(src= 'img/imac2.png')
  .proyect--info
    h3 Title Proyecto
    p Contamos con un equipo de especialistas comprometidos con darte las mejores soluciones para impulsar tu negocio y puedas incrementar las ventas de tus productos y/o servicios. Recuerda, si no está en internet, tu negocio no existe. No esperes más, ponte en contacto con nosotros y te ayudaremos.
    a(href='http://www.carusodesign.com.ar' class='btn' role='button' target='_blank') Ver sitio
  .proyect--info
    h3 Title Proyecto
    p Contamos con un equipo de especialistas comprometidos con darte las mejores soluciones para impulsar tu negocio y puedas incrementar las ventas de tus productos y/o servicios. Recuerda, si no está en internet, tu negocio no existe. No esperes más, ponte en contacto con nosotros y te ayudaremos.
    a(href='http://www.carusodesign.com.ar' class='btn' role='button' target='_blank') Ver sitio
  .proyect--info
    img(src= 'img/imac.png')
  .proyect--info
    img(src= 'img/imac.png')
  .proyect--info
    h3 Email Development
    p Contamos con un equipo de especialistas comprometidos con darte las mejores soluciones para impulsar tu negocio y puedas incrementar las ventas de tus productos y/o servicios. Recuerda, si no está en internet, tu negocio no existe. No esperes más, ponte en contacto con nosotros y te ayudaremos.
    a(href='http://www.carusodesign.com.ar' class='btn' role='button' target='_blank') Ver sitio
