.profile
  .profile--info#section-ok
    h2 Frontend work
    p I’ve been working for more than 3 years as a frontend dev at Pixel2HTML. But, what’s Pixel2HTML? Lemme tell you. Pixel2HTML is FrontEnd Development Company that helps Freelancers, Startups & Agencies to get the best HTML/CSS and JavaScript code for their site.
